{
	auto_https off
	servers {
		protocols h1 h2 h2c h3
	}
}

:80 {
	handle /bigbody {
		root * /conf
		rewrite * /bigbody.txt
		file_server
	}
	handle {
		respond "hello, world!" 200
	}
}

:443 {
	tls /conf/cert.pem /conf/key.pem
	handle /bigbody {
		root * /conf
		rewrite * /bigbody.txt
		file_server
	}
	handle {
		respond "hello, world!" 200
	}
}
